.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: deeppink;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-color:rgb(150, 98, 1);
}
.cat2{
    background-color: rgb(214, 9, 111);
}
.cat3{
    background-color: rgb(0, 20, 78);
}
.categories h1{
    color: white;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px  lightgrey;
    border-radius: 10px;
}